body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100vw;
}

h2 { font-size: 1.4em; }

body > header:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

body header:first-child ul {
  padding: 0;
}

body header:first-child li {
  list-style-type: none;
}

body header:first-child h2, body header:first-child h4 {
  margin-top: .2em;
  margin-bottom: .1em;
}

body a { text-decoration: none; }

body > aside {
  word-wrap: normal;
  flex: 2;
}

body > aside ul {
  padding-left: 1em;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 .2em;
}

main section h3 {
  margin-bottom: .4em;
}

main ul { padding-left: 1em; }

.skills { margin-top: 1em; }

.skills ul > li {
  list-style: none;
}

body > aside li {
  width: calc(50% - 1.2em);
  padding-top: .2em;
  padding-right: 1em;
}

body > main {
  word-wrap: normal;
  flex: 3;
}

main ul {
  margin: .6em 0 0;
}

main h6 {
  margin: .4em 0 .4em;
}

main h4 {
  margin: .2em 0 .2em;
}
