body {
  font-family: "Roboto Slab";
  font-weight: 300;
  font-size: 0.8em;
}

h1, h2, h4 {
  font-weight: 400;
}

h3 {
  font-weight: 300;
}

h4 {
  margin: 0.4em 0;
}

main > header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > header ul {
  margin: 0 0 0.5em;
  list-style: none
}

main > header li {
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  padding-right: 0.2em;
  margin-right: 0.2em;
  border-right: 1px solid #000;
}

main > header li:last-child {
  padding: 0;
  border: none;
}

h1 {
  margin: 0 0 0.5em;
}

h2 {
  margin-top: 0;
}

.social a {
  text-decoration: none;
  color: #000;
}

.phone-link {
  color: #000;
  text-decoration: none;
}

.summary h2,
.skills h2,
.expirience h2,
.edu h2 {
  border-bottom: 1px solid #000;
}

.details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.skills {
  flex: 2;
  word-wrap: normal;
  min-width: 20em;
  margin-right: 1em;
}

.details {
  flex: 3;
  word-wrap: normal;
}

.edu h3 {
  margin-top: 0.2em;
}

@media screen {
  main {
    width: calc(100% - 2.5em);
    max-width: 60em;
    margin: 4em auto;
    padding: 2em;
  }
}
