h4 {
  margin: 0.4em 0;
}

main > header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > header ul {
  padding: 0;
  margin: 0 0 0.5em;
  list-style: none
}

main > header li {
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  padding-right: 0.3em;
  margin-right: 0.1em;
  border-right: 1px solid #000;
}

main > header li:last-child {
  padding: 0;
  border: none;
}

h1 {
  margin: 0 0 0.5em;
}

h2 {
  margin-top: 0;
}

h3 {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.social a {
  text-decoration: none;
  color: #000;
}

.phone-link {
  color: #000;
  text-decoration: none;
}

.summary { margin-bottom: 3em; }

.summary h2,
.skills h2,
.expirience h2,
.edu h2 {
  border-bottom: 1px solid #000;
}

.details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.skills {
  flex: 2;
  word-wrap: normal;
  min-width: 18em;
  margin-right: 2em;
}

.details {
  flex: 3;
  word-wrap: normal;
}

.edu h3 {
  margin-top: 0.2em;
}

@media screen {
  body {
    background: #e0e0e0;
  }
  main {
    background: #fff;
    width: calc(100% - 2.5em);
    max-width: 60em;
    margin: 4em auto;
    padding: 2em;
    box-shadow: 0 0 10px #ccc;
  }
}

@media print {
  body { font-size: 0.8em; }
}

@media screen and (max-width: 600px) {
  main { width: calc(100vw - 6em); }
  .details { flex-wrap: wrap; }
}

@media screen and (min-width: 1200px) {
  .skills { }
}
