<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width">
   <link
      href="/assets/css/style.css"
      rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/assets/css/cv.css" />
  <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400"
      rel="stylesheet" />
  </head>
  <body>
    <main>
      <header>
        <h1>{{ page.author.fullname }}</h1>
        <ul class="contacts">
          <li>
            <a href="mailto:{{ page.author.email }}">
              {{ page.author.email }}
            </a>
          </li>
          <li>
            <a
              class="phone-link"
              href="tel:{{ page.author.phone.link }}">
              {{ page.author.phone.formatted }}
            </a>
          </li>
        </ul>
        <ul class="social">
          <li>
            <a href="https://t.me/{{page.author.telegram.username}}">
              <i class="fab fa-telegram"></i>
              {{ page.author.telegram.username }}
            </a>
          </li>
            <li>
              <a href="https://github.com/{{page.author.github.username}}">
                <i class="fab fa-github"></i>
                {{page.author.github.username}}
              </a>
            </li>
            <li>
              <a href="{{ page.author.stackoverflow.link }}">
                <i class="fab fa-stack-exchange"></i>
                {{ page.author.stackoverflow.username }}
              </a>
            </li>
          </ul>
        </div>
      </header>
      <section class="summary">
        <h2>Summary</h2>
        <article>{{ content }}</article>
      </section>
      <section class="details">
        <aside class="skills">
          <h2>Skill Highlights</h2>
          {% for skilltype in page.author.skills %}
          <article class="skill">
            <h3>{{ skilltype.name }}</h3>
            <ul>
            {% for skill in skilltype.list %}
              <li>{{ skill }}</li>
            {% endfor %}
            </ul>
          </article>
          {% endfor %}
        </aside>
        <div>
          <section class="expirience">
            <h2>Experience</h2>
            {% for place in page.author.experience %}
            <p>
              <h3>{{ place.name }}</h3>
              <h4>{{ place.title }}</h4>
              <h4>{{ place.time }}</h4>
              <ul>
                {% for project in place.projects %}
                <li>{{ project }}</li>
                {% endfor %}
              </ul>
            </p>
            {% endfor %}
          </section>
          <section class="edu">
            <h2>Education</h2>
            {% for place in page.author.education %}
              <div>
                <h4>{{ place.years }}</h4>
                <h4>{{ place.spec }}</h4>
                <h3>{{ place.name }}</h3>
              </div>
            {% endfor %}
          </section>
        </div>
      </section>
    </main>
  </body>
</html>
